{{>nav}}

<div class="products__header">
	<form action="">
		<input
			type="text"
			class="barra-busqueda"
			id="barra-busqueda"
			placeholder="Buscar"
		/>
	</form>
	<div class="categorias" id="categorias">
		<a href="#" class="activo">Todos</a>
		<a href="#">Consolas</a>
		<a href="#">Juegos</a>
		<a href="#">Figuras</a>
		<a href="#">Ropa</a>
	</div>
</div>

{{! Feed section }}
<article class='feed'>
	<section class='feed__products' id="grid">
		{{#each products}}
			<figure
				class='imghvr-shutter-out-diag-1 feed__product'
				data-aos='fade-up'
			>
				<img src='{{img}}' alt='' />
				<figcaption>
					<a href="/products/{{id}}">{{name}}</a>
					<p>$ {{price}}.00 USD</p>
				</figcaption>
				<a href='/products/{{id}}'></a>
			</figure>
		{{/each}}
	</section>
</article>

{{>footer}}